In [ ]:
#Dependencies
import pandas as pd
import numpy as np

In [24]:
#Save path to dataset in a variable
data_file = "../../Homework/04-Numpy-Pandas/Instructions/HeroesOfPymoli/purchase_data.json"
data_file_pd = pd.read_json(data_file, orient ="records")
data_file_pd

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
12,30,Male,81,Dreamkiss,4.06,Iskossa88
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
18,28,Male,91,Celeste,3.71,Iskista88
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
22,11,Female,11,Brimstone,2.52,Deural48
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67
25,21,Male,63,Stormfury Mace,1.27,Idai61
26,29,Male,132,Persuasion,3.90,Aerithllora36
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [25]:
#Player Count
player_demographics = data_file_pd.loc[:, ["Gender", "SN", "Age"]]
player_demographics.head
player_demographics=player_demographics.drop_duplicates()
player_count=player_demographics.count()[0]
player_count
pd.DataFrame({"Total Players": [player_count]})

   Total Players
0            573

In [26]:
#Purchasing Analysis Total
number_unique_items =len(data_file_pd["Item ID"].unique())
average_purchase_price= data_file_pd["Price"].mean()
total_number_purchases= data_file_pd["Price"].count()
total_revenue=data_file_pd["Price"].sum()

# DataFrame Formatting
pd.options.display.float_format = '${:,.2f}'.format
purchasing_analysis_summary = pd.DataFrame({"Number of Unique Items":number_unique_items,
                                    "Average Purchase Price":average_purchase_price,
                                    "Number of Purchases":total_number_purchases,
                                   "Total Revenue":total_revenue},index=[0])
purchasing_analysis_summary = purchasing_analysis_summary[["Number of Unique Items","Average Purchase Price","Number of Purchases","Total Revenue"]]
print("Purchasing Analysis (Total)")
purchasing_analysis_summary

Purchasing Analysis (Total)

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,$2.93,780,"$2,286.33"

In [27]:
#Gender Demographics
gender_demographics_totals = player_demographics["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / player_count * 100

gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents})
pd.options.display.float_format = '{:,.2f}'.format
gender_demographics = gender_demographics.round(2)

gender_demographics

                       Percentage of Players  Total Count
Male                                   81.15          465
Female                                 17.45          100
Other / Non-Disclosed                   1.40            8

In [28]:
#Purchasing Analysis Gender
gender_purchase_total = data_file_pd.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = data_file_pd.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")
gender_counts = data_file_pd.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

normalized_totals = gender_purchase_total / gender_demographics["Total Count"]

gender_data = pd.DataFrame({"Normalized Total": normalized_totals, 
                            "Purchase Count": gender_counts, 
                            "Total Purchase Value": gender_purchase_total, 
                            "Average Purchase Value": gender_average})


#Display
gender_data

,Average Purchase Value,Normalized Total,Purchase Count,Total Purchase Value
Gender,,,,
Female,2.82,3.83,136,382.91
Male,2.95,4.02,633,"1,867.68"
Other / Non-Disclosed,3.25,4.47,11,35.74

In [29]:
#Age Demographics
bins = [0, 9, 14, 19, 24, 29, 34, 39, 99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_demographics["Age Group"] = pd.cut(player_demographics["Age"], bins, labels=group_names)
age_group = player_demographics.groupby("Age Group").count()
age_group = age_group[["Age"]]
age_group = age_group.rename(columns={"Age": "Total Count"})
age_group["Percentage of Players"] = age_group["Total Count"] / player_count * 100
age_group = age_group[["Percentage of Players", "Total Count"]]
pd.options.display.float_format = '{:,.2f}'.format
print("Age Demographics")
age_group

Age Demographics

           Percentage of Players  Total Count
Age Group
<10                         3.32           19
10-14                       4.01           23
15-19                      17.45          100
20-24                      45.20          259
25-29                      15.18           87
30-34                       8.20           47
35-39                       4.71           27
40+                         1.92           11

In [30]:
# Top Spenders
user_total = data_file_pd.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
user_average = data_file_pd.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
user_count = data_file_pd.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Total Purchase Value": user_total,
                          "Average Purchase Price": user_average,
                          "Purchase Count": user_count})

user_data.sort_values("Total Purchase Value", ascending=False).head(5)

             Average Purchase Price  Purchase Count  Total Purchase Value
SN
Undirrala66                    3.41               5                 17.06
Saedue76                       3.39               4                 13.56
Mindimnya67                    3.18               4                 12.74
Haellysu29                     4.24               3                 12.73
Eoda93                         3.86               3                 11.58

In [31]:
#Most popular items
number_unique_items = data_file_pd.groupby(["Item ID","Item Name"])

top_five_items = number_unique_items[["Price"]].count().nlargest(5,"Price")
top_five_items = top_five_items.rename(columns={"Price": "Purchase Count"})
item_prices = number_unique_items[["Price"]].mean()
item_prices = item_prices.rename(columns={"Price": "Item Price"})
merge1 = top_five_items.join(item_prices)
item_purchase_total = number_unique_items[["Price"]].sum()
item_purchase_total = item_purchase_total.rename(columns={"Price": "Total Purchase Value"})
top_five_items = merge1.join(item_purchase_total)
print("Most Popular Items")
top_five_items

Most Popular Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
13,Serenity,9,1.49,13.41
31,Trickster,9,2.07,18.63
34,Retribution Axe,9,4.14,37.26

In [32]:
#Most Profitable Items
top_five_profitable = number_unique_items[["Price"]].sum().nlargest(5,"Price")
top_five_profitable = top_five_profitable.rename(columns={"Price": "Total Purchase Value"})
top_five_profitable
item_purchases = number_unique_items[["Price"]].count()
item_purchases = item_purchases.rename(columns={"Price": "Purchase Count"})
merge1 = top_five_profitable.join(item_purchases)
item_prices = number_unique_items[["Price"]].mean()
item_prices = item_prices.rename(columns={"Price": "Item Price"})
merge2 = merge1.join(item_prices)
top_five_profitable = merge2[["Purchase Count", "Item Price", "Total Purchase Value"]]
print("Most Profitable Items")
top_five_profitable

Most Profitable Items

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
34,Retribution Axe,9,4.14,37.26
115,Spectral Diamond Doomblade,7,4.25,29.75
32,Orenmir,6,4.95,29.70
103,Singed Scalpel,6,4.87,29.22
107,"Splitter, Foe Of Subtlety",8,3.61,28.88

In [33]:
# 3 observable trends based on the data
#1 The most popular item does not necesarily generate the most amount of money for the company.
#2 Men buy those games at a higher rate than Women 
#3 Young adults(20-24) are the most represented among the age groups